@page "/"
@inject BackendService backendService
@using BlazorApp.Shared

<h1>Administration Integration AD - NyA</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            Här finns stöd för att att administera integrationen mellan Azure AD oc NyA-webben
        </div>
        <div class="col-md-4">
            <AuthorizeView>
                <Authorized>
                    <i>Inloggad som: @context.User.Identity.Name</i>
                </Authorized>
                <NotAuthorized>
                    <i>Ej inloggad</i>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        
    </div>
</div>

