@page "/"
@inject BackendService backendService
@using BlazorApp.Shared

<h1>Administration Integration AD - NyA</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            Här finns stöd för att att administera integrationen mellan Azure AD oc NyA-webben
        </div>
        <div class="col-md-4">
            @if(principal!=null){
            <i>Inloggad som: @principal.UserDetails</i>
            }else{
            <i>Ej inloggad</i>
            }

        </div>
        
    </div>
</div>

@code{
ClientPrincipal principal;

    protected override async void OnInitialized(){
        principal=await backendService.GetUserInfo();
        StateHasChanged();
    }

}
