@page "/"
@using BlazorApp.Client
@inject BackendService backendService
@using BlazorApp.Shared

<h1>Administration Integration AD - NyA</h1>

Här finns stöd för att att administera integrationen mellan Azure AD oc NyA-webben

@code{
ClientPrincipal principal;

    protected override async void OnInitialized(){
        principal=await backendService.GetUserInfo();
    }
}
