@page "/listGroups"
@using System.Linq
@inject BackendService backendService

<h1>
    Kopplade behörighetsprofiler i NyA
</h1>


@if (fetching)
{
    <i>Hämtar grupper...</i>
}
else
{
    <div>
        <button @onclick="Reload">@buttonLabel</button>
    </div>

    @foreach (var groupName in groupList.Keys.OrderBy(q => q))
    {
        <h2>@groupName</h2>
        <ul>
            @foreach (var user in groupList[groupName].OrderBy(q => q))
            {
                <li>@user</li>
            }
        </ul>
    }
}


@code{
    Dictionary<string, List<string>> groupList = new Dictionary<string, List<string>>();
    private bool fetching = false;
    private string buttonLabel="Hämta grupper";

    protected async void Reload()
    {
        fetching = true;
        StateHasChanged();

        groupList = await backendService.CallListGroups();
        fetching = false;
        buttonLabel = "Uppdatera";

        StateHasChanged();
    }

}
