@page "/testsidan"
@attribute [Authorize(Roles = "nya_admin")]
<h1>Testsidan</h1>

<AuthorizeView Roles="nya_admin">
    <h1>Hello, @context.User.Identity.Name!</h1>
    <p>You can only see this if you're a nya_admin</p>
</AuthorizeView>

<AuthorizeView Roles="xxxxx">
    <Authorized>
        <p>You can only see this if you're a xxxxx.</p>
    </Authorized>
    <NotAuthorized>
        <p>You can't see this because you are NOT a xxxxx.</p>
    </NotAuthorized>
</AuthorizeView>

