@page "/testsidan"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "superuser")]
@inject BackendService backendService

<h1>Testsidan</h1>

<AuthorizeView Roles="nya_admin">
    <h1>Hello, @context.User.Identity.Name!</h1>
    <p>You can only see this if you're a nya_admin</p>
</AuthorizeView>

<AuthorizeView Roles="superuser">
    <Authorized>
        <p>You can only see this if you're a superuser.</p>
    </Authorized>
    <NotAuthorized>
        <p>You can't see this because you are NOT a superuser.</p>
    </NotAuthorized>
</AuthorizeView>
<div>
    @message
</div>

@code{
    private string message;

    protected override async void OnInitialized()
    {
        message = await backendService.CallHello();
        StateHasChanged();
    }
}