@page "/videosidan"
@using Blazored.Video
@using Blazored.Video.Support
    
<h1>Videosidan</h1>

<BlazoredVideo 
               class="w-100"
               style="max-width:800px;"
               controls="controls">
    <source src="https://res.cloudinary.com/blazoredgitter/video/upload/v1557015491/samples/elephants.mp4" type="video/mp4" />
</BlazoredVideo>